header {
    background-color: var(--color-primary);
    height: 70px;
    align-items: center;
}

.dsmovies-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dsmovies-nav-content h1 {
    margin: 0;
    font-weight: 700;
    font-size: 25px;
}

.dsmovies-contact-container {
    display: flex;
    align-items: center;
}

.dsmovie-contact-link {
    margin: 0px 15px 0px 0px;
    font-weight: 700;
    font-size: 15px;
}