@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --color-primary: #4D41C0;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', Montserrat;
    color: #FFFFFF;
}

html, body {
    background-color: #0D0D1F;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}
